.fi .card-header .card-title.panel-title:before{
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 6px 0 0;
}

.fi.fi-757245 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_757245_cc.svg') no-repeat;
    background-size: cover;
}

.fi.fi-1147035 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1147035_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-8671 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_8671_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1476682 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1476682_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-67309 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_67309_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1187385 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1187385_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-833052 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_833052_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-323508 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_323508_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-919096 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_919096_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-98441 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_98441_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1235928 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1235928_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-974215 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_974215_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-338268 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_338268_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1278380 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1278380_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1046355 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1046355_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-260262 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_260262_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-148593 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_148593_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-738395 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_738395_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-592294 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_592294_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-383739 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_383739_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-489578 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_489578_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1553827 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1553827_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1396852 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1396852_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-899182 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_899182_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-30427 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_30427_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-559109 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_559109_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1213714 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1213714_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-147487 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_147487_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-901629 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_901629_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-544902 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_544902_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-981373 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_981373_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-1046436 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_1046436_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-624921 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_624921_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-981144 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_981144_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-737662 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_737662_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-545315 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_545315_cc.svg') no-repeat;
    background-size: cover;
}
.fi.fi-4214 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_4214_cc.svg') no-repeat;
    background-size: cover;
}

.fi.fi-578296 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_578296_cc.svg') no-repeat;
    background-size: cover;
}

.fi.fi-127813 .card-header .card-title.panel-title:before {
    background: url('/statics/customSVG/noun_127813_cc.svg') no-repeat;
    background-size: cover;
}


