{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 9"
          ]
        },
        "include": [
          "transform-es2015-arrow-functions"
        ]
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-object-rest-spread"],
  "comments": false
}

