
.choices__list.choices__list--dropdown {
  position: sticky;
}

[dir=rtl] .choices:after {
  right: unset;
  left: 11.5px;
}

[dir=rtl] .choices .choices__list .choices__item {
  text-align: right;
}

[dir=rtl] .choices .choices__list .choices__item img {
  float: right;
}

[dir=rtl] .choices .choices__list .choices__item button.choices__button {
  left: 0;
  right: unset;
  margin-right: unset;
  margin-left: 25px;
  overflow: hidden;
}

[dir=rtl] .choices .choices__list.choices__list--dropdown > input.choices__input {
  text-align: right;
}

[dir=rtl] .choices .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
  padding-left: 0;
}

[dir=rtl] .choices .choices__list.choices__list--multiple {
  float: right;
}

[dir=rtl] .choices > .form-control > input.choices__input {
  float: right;
}

[dir=rtl] .choices .choices__list.choices__list--multiple > input.choices__input {
  text-align: right;
}

[dir=rtl] .choices .choices__list.choices__list--multiple .choices__item {
  float: right;
}

[dir=rtl] .choices .choices__list.choices__list--multiple .choices__item button.choices__button {
  float: left;
  margin: 0 8px 0 -4px;
  padding-left: unset;
  padding-right: 16px;
  border-left: none;
  border-right: 1px solid #008fa1;
}
