.q-data-table-head thead tr th {
  text-align: center
}

.q-data-table-title.ellipsis.col {
    font-size: 2vw;
    font-weight: 400;
    text-decoration: underline;
}

.q-data-table table tbody tr:nth-child(odd) td, .q-data-table table tbody tr:nth-child(odd) th {
    background: #eeeeeeb5;
}
