i.material-icons.tag--green {
    color: #2cb924;
    font-size: 1.8em
}
i.material-icons.tag--grey {
    color: rgb(190, 189, 189);
    font-size: 1.8em
}

i.material-icons.tag--offline {
    color: #2460b9;
    font-size: 1.8em
}
