.tableContainer{
  background: #fdfdfd;
}

.q-data-table table thead tr {
    border-bottom: 1px solid #cccaca;
    /* min-height: 56px; */
    line-height: 1.9;
    height: 56px;
}

.q-data-table {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13.4px;
  font-weight: 350;
  border: none
}

.q-data-table-toolbar.upper-toolbar.row.col.items-center {
    width: 40%;
    float: right;
}

.q-data-table-container {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    display: inline-grid;
    margin-top: 30px;
}

.q-data-table table:not(.responsive) th {
    border-bottom: none !important;
}

.q-if.row.no-wrap.items-center.relative-position.q-select.no-margin.text-right.q-if-focusable.text-primary {
    display: none;
}


.q-data-table th span {
    color: rgba(0,0,0,0.54);
    font-weight: 400;
}




/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .responsiveTableContainer{
    padding: 0px;
    margin: 0px;
  }
  .responsiveTableContainer .q-card.relative-position{
    margin:0px;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .responsiveTableContainer{
    padding: 0px;
    margin: 0px;
  }
   .responsiveTableContainer .q-card.relative-position{
    margin:0px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .responsiveTableContainer{
    padding: 0px;
    margin: 0px;
  }
   .responsiveTableContainer .q-card.relative-position{
    margin:0px;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .responsiveTableContainer{
    padding: 0px;
    margin: 0px;
  }
   .responsiveTableContainer .q-card.relative-position{
    margin:0px;
  }
}
