<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="35" id="org.fao.sharp" version="0.12.87" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SHARP+</name>
    <description>
  Self-evaluation and Holistic Assessment of climate resilence of Farmers and Pastoralists
    </description>
    <author email="ignacio.cabrera@fao.org" href="http://www.fao.org">
        FAO-UN  - CIO - IT DESIGN AND TECHNOLOGY
    </author>
    <icon src="www/statics/sharpIcon.png" />
    <platform name="android">
    </platform>
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
